<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <!-- There are total 3 ways to specify/write and use selectors: 
      tag: < >
      class: .
      attribute / [ ]
    -->

  <app-component-demo1></app-component-demo1>
  <!-- <div class="app-component-demo1"></div> -->
  <!-- <div app-component-demo1></div> -->
  <div class="custom-divider"></div>

  <!-- component decorator template -->
  <app-component-demo2-template></app-component-demo2-template>
  <div class="custom-divider"></div>

  <!-- css style -->
  <app-component-demo3-styles></app-component-demo3-styles>
  <div class="custom-divider"></div>

  <!-- interpolation -->
  <app-component-demo4-interpolation></app-component-demo4-interpolation>
  <div class="custom-divider"></div>

  <!-- property binding -->
  <app-component-demo5-propertybinding></app-component-demo5-propertybinding>
  <div class="custom-divider"></div>

  <!-- class binding -->
  <app-component-demo6-classbinding></app-component-demo6-classbinding>
  <div class="custom-divider"></div>

  <!-- style binding -->
  <app-component-demo7-stylebinding></app-component-demo7-stylebinding>
  <div class="custom-divider"></div>

  <!-- event binding -->
  <app-component-demo8-eventbinding></app-component-demo8-eventbinding>
  <div class="custom-divider"></div>

  <!-- template reference variables -->
  <app-component-demo9-templaterefvars></app-component-demo9-templaterefvars>
  <div class="custom-divider"></div>

  <!-- one way data binding -->
  <app-component-demo10-onewaydatabinding></app-component-demo10-onewaydatabinding>
  <div class="custom-divider"></div>

  <!-- two way data binding -->
  <app-component-demo11-twowaydatabinding></app-component-demo11-twowaydatabinding>
  <div class="custom-divider"></div>

  <!-- *ngIf -->
  <app-component-demo12-ngif></app-component-demo12-ngif>
  <div class="custom-divider"></div>

  <!-- ngSwitch -->
  <app-component-demo13-ngswitch></app-component-demo13-ngswitch>
  <div class="custom-divider"></div>

  <!-- *ngFor -->
  <app-component-demo14-ngfor></app-component-demo14-ngfor>
  <div class="custom-divider"></div>

  <!-- component interaction - parent to child and child to parent communication -->

  <!-- send property from parent to child - include in child element component selector -->
  <app-component-demo15-childparent [parentData]="parentMessage" (childEvent)="messageChild=($event)"></app-component-demo15-childparent>

  <u>Parent component showing message from child component</u>: <strong>{{messageChild}}</strong>
  <div class="custom-divider"></div>

  <!-- pipes / filters -->
  <app-component-demo16-pipesfilters></app-component-demo16-pipesfilters>
  <div class="custom-divider"></div>

  <!-- services -->
  <app-component-demo191-serviceemployeelist></app-component-demo191-serviceemployeelist>
  <div class="custom-divider"></div>

  <app-component-demo192-serviceemployeedetails></app-component-demo192-serviceemployeedetails>
  <div class="custom-divider"></div>

  <!-- http service  -->
  <app-component-demo211-httpemployeelist></app-component-demo211-httpemployeelist>
  <div class="custom-divider"></div>

  <app-component-demo212-httpemployee-details></app-component-demo212-httpemployee-details>
  <div class="custom-divider"></div>

  <!-- custom directive  -->
  <h1> 22 Hello World! Lets learn custom directive </h1>

  <li blueHighlight> I am custom directive </li>

  <p>The command to create directive: <span blueHighlight>`ng generate directive blueHighlight`</span> OR <span blueHighlight>`ng g directive blueHighlight`</span>. In current app we want to create all custom directives under `directives` folder so use command as: <span blueHighlight>`ng generate directive directives/blueHighlight`</span>. Above command will Genreate and Update following: <br/>
  ```
  <br/>
    <span blueHighlight>CREATE</span> src/app/directives/blue-highlight.directive.spec.ts (253 bytes) <br/>
    <span blueHighlight>CREATE</span> src/app/directives/blue-highlight.directive.ts (155 bytes) <br/>
    <span blueHighlight>UPDATE</span> src/app/app.module.ts (4690 bytes) <br/>
  ```
  </p>
  <div class="custom-divider"></div>

  <!-- custom directive with @HostListener -->
  <h1> 23 Hello World! Lets learn custom directive with click </h1>

  <li highlightCilck> I am custom directive </li>

  <p>The command to create directive: <span highlightCilck>`ng generate directive highlightCilck`</span> OR <span highlightCilck>`ng g directive highlightCilck`</span>. In current app we want to create all custom directives under `directives` folder so use command as: <span highlightCilck>`ng generate directive directives/highlightCilck`</span>. Above command will Genreate and Update following: <br/>
  ```
  <br/>
    <span highlightCilck>CREATE</span> src/app/directives/blue-highlight.directive.spec.ts (253 bytes) <br/>
    <span highlightCilck>CREATE</span> src/app/directives/blue-highlight.directive.ts (155 bytes) <br/>
    <span highlightCilck>UPDATE</span> src/app/app.module.ts (4690 bytes) <br/>
  ```
  </p>
  <div class="custom-divider"></div>

  <!-- custom pipe  -->
  <h1> 24 Lets learn custom pipe to format/transform data </h1>

  <ul>
    <li>Square Root of 81 is: {{ 81 | squareRootPipe }}</li>
    <li>Square Root of 100 is: {{ 100 | squareRootPipe }}</li>
  </ul>
  <div class="custom-divider"></div>




  
</div>
